name: 'release'

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: 'write'
  packages: 'write'

jobs:
  release:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'docker/setup-qemu-action@v3'

      - uses: 'actions/checkout@v4'
        with:
          fetch-depth: 0

      - uses: 'actions/setup-go@v5'
        with:
          go-version-file: 'go.mod'

      - uses: 'docker/login-action@v3'
        with:
          registry: 'asia-docker.pkg.dev'
          username: '_json_key'
          password: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - uses: 'docker/login-action@v3'
        with:
          registry: 'europe-docker.pkg.dev'
          username: '_json_key'
          password: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - uses: 'docker/login-action@v3'
        with:
          registry: 'us-docker.pkg.dev'
          username: '_json_key'
          password: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - id: 'import_gpg'
        uses: 'crazy-max/ghaction-import-gpg@v6'
        with:
          gpg_private_key: '${{ secrets.GPG_PRIVATE_KEY }}'
          passphrase: '${{ secrets.GPG_PASSPHRASE }}'

      - uses: 'goreleaser/goreleaser-action@v6'
        with:
          version: 'latest'
          args: 'release --clean'
        env:
          GPG_FINGERPRINT: '${{ steps.import_gpg.outputs.fingerprint }}'
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
