name: 'release'

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: 'write'
  packages: 'write'

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Login to GitHub Container Registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build and Push Docker Image
      run: |
        DOCKER_IMAGE_NAME=$(echo "${{ github.repository }}" | awk -F / '{print $2}')
        TAG_NAME=$(echo "${{ github.ref }}" | sed 's#refs/tags/##')
        
        docker build . -t ghcr.io/${{ github.repository }}/${DOCKER_IMAGE_NAME}:${TAG_NAME} -f kubernetes/pkg/Dockerfile
        docker push ghcr.io/${{ github.repository }}/${DOCKER_IMAGE_NAME}:${TAG_NAME}
  release:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'docker/setup-qemu-action@v3'

      - uses: 'actions/checkout@v4'
        with:
          fetch-depth: 0

      - uses: 'actions/setup-go@v4'
        with:
          go-version: '1.21'

      - uses: 'docker/login-action@v3'
        with:
          registry: 'asia-docker.pkg.dev'
          username: '_json_key'
          password: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - uses: 'docker/login-action@v3'
        with:
          registry: 'europe-docker.pkg.dev'
          username: '_json_key'
          password: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - uses: 'docker/login-action@v3'
        with:
          registry: 'us-docker.pkg.dev'
          username: '_json_key'
          password: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - id: 'import_gpg'
        uses: 'crazy-max/ghaction-import-gpg@v6'
        with:
          gpg_private_key: '${{ secrets.GPG_PRIVATE_KEY }}'
          passphrase: '${{ secrets.GPG_PASSPHRASE }}'

      - uses: 'goreleaser/goreleaser-action@v5'
        with:
          version: 'latest'
          args: 'release --clean'
        env:
          GPG_FINGERPRINT: '${{ steps.import_gpg.outputs.fingerprint }}'
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
